//--------------- START STYLE--------------------//
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap');

$prim-color: #F25252;
$sec-color:#4BCAD0;
$accent-color:#8C4653;

// SASS DEFINED CLASSES
.primary {
    color: $prim-color;
}

.secondary {
    color: $sec-color;
}

.accent {
    color: $accent-color;
}

// RESPONSIVE HERE
@media only screen and (max-width: 1250px) {
    .circle-container {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        width: 125px !important;
        height: 125px !important;

        .circle {
            animation: pulse 2s infinite;
            height: 70px !important;
            width: 70px !important;
            background-color: #fff;
            border-radius: 50%;

            i {
                font-size: 35px !important;
                color: $prim-color;
                position: relative;
                left: 18px !important;
                top: 20px !important;
            }

        }

    }

    #f-title-1 {
        display: none;
    }

    #f-title-2 {
        display: none;
    }

    #f-title-3 {
        display: none;
    }

    #copyr {
        flex: 0 0 100%;
        max-width: 100%;
    }

    #top-welcome-mess {
        display: none;
    }

}

@media only screen and (max-width: 767px) {
    #top-contact {
        margin: 20px 0px 20px 20px;
        text-align: center;
    }

    #topbar button {
        margin: 20px 0px 20px 20px;
    }

}

@media only screen and (max-width: 625px) {
    .circle-container {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        width: 72.5px !important;
        height: 72.5px !important;

        .circle {
            animation: pulse 2s infinite;
            height: 35px !important;
            width: 35px !important;
            background-color: #fff;
            border-radius: 50%;

            i {
                font-size: 17.5px !important;
                color: $prim-color;
                position: relative;
                left: 8px !important;
                top: 10px !important;
            }

        }

    }

    #Contact {
        display: none;
    }
}

@media only screen and (max-width: 575px) {
    #Zacit {
        width: 100% !important;
        justify-content: center !important;
    }

    .newsletter {
        h2 {
            font-size: 1rem !important;
        }

        input {
            height: 30px;
            width: 200px;
            font-size: 10px;
            margin: 0;
            margin-bottom: 1%;
        }

        button {
            height: 30px;
            font-size: 10px;
            width: 200px
        }
    }

    #top-contact {
        display: none;
    }

    #overlay-buttons {
        display: none;
    }

    #outer-container {
        height: 50%;
    }

}

.login-modal {
    position: absolute;
    width: 80vw;
    height: 80vh;
    z-index: 999999999999999999999999999999999999999;
}

.mobileNav {
    background: #fff;
    width: 100vw;
    height: 500vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
}



h1 {
    font-size: 3.438rem !important;
    color: #fff;
    font-weight: 400;
}

h2 {
    font-size: 2.3rem !important;
    color: $accent-color;
}

h5 {
    color: $prim-color;
}

* {
    margin: 0;
    padding: 0;
}

input {
    border: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border-radius: 100px;
    height: 50px;
    background: #fff;
    color: $prim-color;
    width: 35vw;
    text-align: center;
    margin-right: 20px;
}

button {
    border: 0;
    background-color: #F25252;
    font-size: 16px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    height: 50px;
    width: 190px;
    border-radius: 100px;

}

button:hover {
    background-color: #4BCAD0;
}

button:focus {
    border: 0;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    overflow-x: hidden;

    header {
        font-weight: 100;
        color: #7C7C7C;
        height: 1080px;
        flex-wrap: wrap;

        .top-bar {
            align-items: center;
            justify-content: space-between;
            display: flex;
            flex-wrap: wrap;
            height: 115px;
            font-size: 15px;

            span:nth-child(2) {
                color: $accent-color;
            }
        }

        nav {

            .brand {
                font-size: 2.19rem !important;
                font-weight: 900;
            }

            :hover {
                text-decoration: none;
            }

            ul li a {
                font-size: 14px;
                font-weight: 400;
                color: #7C7C7C;
            }

            ul li a:hover {
                color: $accent-color;
            }

            height:90px;

            button:hover {
                background-color: #fff;
            }
        }

        .head-img {
            width: 100%;
            height: 800px;
            background: url('../img/header-img.jpg');
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            &:before {
                content: '';
                position: absolute;
                height: 800Px;
                top: 205px;
                right: 0;
                bottom: 0;
                left: 0;
                background-image: linear-gradient(to top, rgba(39, 39, 39, 0.500), rgba(110, 57, 67, 0.500));
                opacity: .6;
            }

        }

        .outer-container {
            position: relative;
            width: 60vw;
            top: -650px;
            color: #fff;
            left: 22vw;
            user-select: none;
        }

        .circle-container {
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            width: 250px;
            height: 250px;

            .circle {
                animation: pulse 2s infinite;
                height: 180px;
                width: 180px;
                background-color: #fff;
                border-radius: 50%;

                i {
                    font-size: 70px;
                    color: $prim-color;
                    position: relative;
                    left: 55px;
                    top: 55px;
                }

            }

            .circle:hover {
                animation: none;
                cursor: pointer;

                i {
                    color: $sec-color;

                }
            }
        }

        @-webkit-keyframes pulse {
            0% {
                -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
            }

            70% {
                -webkit-box-shadow: 0 0 0 15px rgba(204, 169, 44, 0);
            }

            100% {
                -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
            }
        }

        @keyframes pulse {
            0% {
                -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
                box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
            }

            70% {
                -moz-box-shadow: 0 0 0 15px rgba(204, 169, 44, 0);
                box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
            }

            100% {
                -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
                box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
            }
        }

        .overlay-buttons {

            margin-top: 80px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            z-index: 5;

            .circle-text {
                color: #fff;
                position: relative;
                top: 55%;
                text-align: center;
            }
        }

    }


    //White button type 
    .buttonWhite {
        @extend button;
        background: #fff;
        color: $prim-color;
    }

    .buttonWhite:hover {
        background-color: $prim-color;
        color: #fff;
        border: solid 1px #000;
    }

    #Zacit {
        img {
            width: 220px;
            height: 190px;
            object-fit: cover;
        }
    }

    .newsletter {
        background: $prim-color;
        height: 260Px;
    }

    .lstfndimg {
        width: 140px;
        height: 140px;
        border-radius: 100%;
        object-fit: cover;
        object-position: 0px 0px;
    }
}


.ContactFormExtendedProperties {
    width: 442px;
    margin-top: 40px;
    border-radius: 0;
    border: 0;
    margin: 0px 0px 40px 30px;
}

#Contact {
    background-image: url('../img/contact-img.jpeg');
    min-height: 130vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact_form {
    background-color: #fff;
    margin-top: 5vw;
    margin-right: 15vw;
    width: 500px;
    border: 1px #707070 solid;
    z-index: 1;

    input {
        @extend .ContactFormExtendedProperties;
        background-color: #EDEDED;
        color: #9B9B9B;
        text-align: left;
        height: 60px;

    }

    ::placeholder {
        padding-left: 20px;
        padding-top: 25px;
    }

    textarea {
        @extend .ContactFormExtendedProperties;
        height: 150px;
        border: 0;
        background-color: #EDEDED;
        color: #9B9B9B;
        resize: none;

    }

    button {
        @extend .ContactFormExtendedProperties;
        text-align: center;
    }
}


#premium_plans {
    height: 80vh;
    width: 100vw;

    .plan_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .plan_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        width: 250px;
        height: 380px;
        padding-top: 1%;

    }

    h5 {
        font-size: 22px;
        color: $accent-color;
    }

    h4 {
        font-size: 40px;
        color: #7C7C7C;
    }

    button {
        border-radius: 0;
    }
}

#Testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 750px;

    .testimonials {
        display: flex;
        background-image: url('../img/testi.jpeg');
        background-size: cover;
        border-radius: 100%;
        width: 150px;
        height: 150px;
    }

    button {
        border-radius: 0;
    }

    .quote {

        position: relative;
        background-color: white;
        border-radius: 100%;
        width: 35%;
        height: 35%;
        top: 65%;
        left: -10px;

        .svg_position {
            position: relative;
            left: 25%;
            top: 25%;
            width: 50%;

        }
    }
}


footer {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 200px;
    width: 100vw;
    background-color: #FAFAFA;

    .brand {
        font-size: 2.19rem !important;
        font-weight: 900;
    }

    :hover {
        text-decoration: none;
    }

    ul li {
        list-style-type: none;

        a {
            color: inherit;
        }

        :hover {
            text-decoration: none;
            color: $accent-color;
        }
    }

    .footer-title {
        font-weight: 600;
        color: #5C5C5C;
    }
}

// SCROLLBAR
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: $prim-color;
}

.modal-content {
    width: 100vw;
}

.navbar {
    padding: 0;
}


.stickyNav {
    z-index: 55555;
    position: sticky;
    top: 200px;
    display: flex;
}

.hidden {
    display: none;
    transition: ease-in-out;
}





.modal {
    width: 100vw;
    margin: 0 auto;
    border-radius: 0;
    left: 25vw;
    top: 5vh;
    padding: 0;

    height: 600px;


    .modal-dialog {
        border-radius: 0;
        margin: 0;
        height: 602px;

        .modal-content {
            height: 80vh;
            border-radius: 0;
            width: 50vw;
            margin:0;
            padding: 0;
            height: 602px;

            .modal-body {
                padding: 0;
                height: 602px;

                .modal-login-wrapper {
                    display: flex;
                    flex-direction: row;

                    .modal-login-buttons {
                        display: flex;
                        flex-direction: column;

                        .login-modal-button {
                            border-right: 1px solid hsla(0, 0%, 36%, 0.733);
                            background-color: #fff;
                            border-radius: 0;
                            width: 15vw;
                            height: 200px;
                            min-width: 100px;
                            max-height: 200px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            span {
                                color: $prim-color;
                            }

                            i {
                                font-size: 56px;
                                color: $prim-color;
                            }
                        }

                        .login-modal-button:hover {
                            background-color: $sec-color;
                            -moz-box-shadow:    inset 0 0 10px #000000;
                            -webkit-box-shadow: inset 0 0 10px #000000;
                            box-shadow:         inset 0 0 5px #000000;
                            span {
                                color: #fff;
                            }

                            i {
                                color: #fff;
                            }
                            
                        }

                        .login-modal-button-active {
                            @extend .login-modal-button;
                            background-color: $prim-color;

                            span {
                                color: #fff;
                            }

                            i {
                                color: #fff;
                            }
                        }
                    }

                    .modal-login-input {
                        width: 85vw;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        h5{
                            font-size: 23px;
                            font-weight: 700;
                        }
                        form {
                            display: flex;
                            flex-direction: column;
                            align-content: center;
                            i{
                                position: relative;
                                top:37px;
                                left:10px;
                                width:15px;
                                color:$accent-color;
                            }

                            input {
                                border-radius: 0;
                                width: 30vw;
                                background-color: #F8F8F8;
                            }

                            button {
                                border-radius: 0;
                                width: 30vw;
                                margin-top:15px;
                                -webkit-box-shadow: -2px 13px 16px -8px rgba(0,0,0,0.75);
                                -moz-box-shadow: -2px 13px 16px -8px rgba(0,0,0,0.75);
                                box-shadow: -2px 13px 16px -8px rgba(0,0,0,0.75);
                            }
                        }

                    }

                }

            }

        }
    }
}