@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap");
.primary {
  color: #F25252;
}

.bg-color-1 {
  background-color: #F25252;
}

.bg-color-2 {
  background-color: #8C4653;
}

.secondary {
  color: #4BCAD0;
}

.accent {
  color: #8C4653;
}

.hidden {
  display: none;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
}

.login-modal {
  position: absolute;
  width: 80vw;
  height: 80vh;
  z-index: 999999999999999999999999999999999999999;
}

.mobileNav {
  background: #fff;
  width: 100vw;
  height: 500vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
}

#top-login-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

h1 {
  font-size: 3.438rem;
  color: #fff;
  font-weight: 400;
}

h2 {
  font-size: 2.3rem !important;
  color: #8C4653;
}

h5 {
  color: #F25252;
}

* {
  margin: 0;
  padding: 0;
}

input {
  border: 0;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  border-radius: 100px;
  height: 50px;
  background: #fff;
  color: #F25252;
  width: 35vw;
  text-align: center;
  margin-right: 20px;
}

button, body .buttonWhite {
  border: 0;
  background-color: #F25252;
  font-size: 16px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  height: 50px;
  width: 190px;
  border-radius: 100px;
}

button:hover, body .buttonWhite:hover {
  background-color: #4BCAD0;
}

button:focus, body .buttonWhite:focus {
  border: 0;
}

#progress {
  position: absolute;
  min-width: 1080px;
  z-index: -1;
  top: 325px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

body header {
  font-weight: 100;
  color: #7C7C7C;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body header .push {
  margin-bottom: -600px;
}

body header .top-bar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 115px;
  font-size: 15px;
}

body header .top-bar span:nth-child(2) {
  color: #8C4653;
}

body header nav {
  height: 90px;
}

body header nav .brand {
  font-size: 2.19rem !important;
  font-weight: 900;
}

body header nav :hover {
  text-decoration: none;
}

body header nav ul li a {
  font-size: 14px;
  font-weight: 400;
  color: #7C7C7C;
}

body header nav ul li a:hover {
  color: #8C4653;
}

body header nav button:hover, body header nav .buttonWhite:hover {
  background-color: #fff;
}

body header .head-img {
  width: 100%;
  height: 820px;
  background: url("../img/header-img.gif");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body header .head-img:before {
  content: '';
  position: absolute;
  height: 820Px;
  top: 205px;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(39, 39, 39, 0.5)), to(rgba(110, 57, 67, 0.5)));
  background-image: linear-gradient(to top, rgba(39, 39, 39, 0.5), rgba(110, 57, 67, 0.5));
  opacity: .6;
}

body header .outer-container {
  position: relative;
  width: 60vw;
  top: -650px;
  color: #fff;
  left: 22vw;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body header .circle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px;
  height: 250px;
}

body header .circle-container .circle {
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
  height: 180px;
  width: 180px;
  background-color: #fff;
  border-radius: 50%;
}

body header .circle-container .circle i {
  font-size: 70px;
  color: #F25252;
  position: relative;
  left: 55px;
  top: 55px;
}

body header .circle-container .circle:hover {
  -webkit-animation: none;
          animation: none;
  cursor: pointer;
}

body header .circle-container .circle:hover i {
  color: #4BCAD0;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 15px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
            box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
            box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
            box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

body header .overlay-buttons {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 5;
}

body header .overlay-buttons .circle-text {
  color: #fff;
  position: relative;
  top: 55%;
  text-align: center;
}

body .animal_modal button, body .animal_modal .buttonWhite {
  width: 20px;
  margin-left: 20px !important;
}

body .animal_modal button:hover, body .animal_modal .buttonWhite:hover {
  background: #fff;
}

body .animal_modal .animal_modal_body {
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .animal_modal .animal_modal_body .animal_photo {
  width: 25%;
  height: 250px;
}

body .animal_modal .animal_modal_body .animal_photo img {
  width: 200px;
  height: 250px;
}

body .animal_modal .animal_modal_body .animal_info {
  width: 100%;
}

body .animal_modal .animal_modal_body ul {
  list-style-type: none;
}

body .ani_reg_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
}

body .ani_reg_wrap .plan_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 10%;
}

body .ani_reg_wrap .inner-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

body .ani_reg_wrap .plan_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  width: 250px;
  height: 380px;
  padding-top: 1%;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}

body .ani_reg_wrap h5 {
  font-size: 22px;
  color: #8C4653;
}

body .ani_reg_wrap button, body .ani_reg_wrap .buttonWhite {
  border-radius: 0;
}

body .ani_reg_wrap .animal_registration, body .ani_reg_wrap .animal_registration_sec {
  width: 50%;
  padding: 2%;
  background-color: #F25252;
}

body .ani_reg_wrap .animal_registration form, body .ani_reg_wrap .animal_registration_sec form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .ani_reg_wrap .animal_registration form div, body .ani_reg_wrap .animal_registration_sec form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 5px;
  width: 100%;
  height: 100%;
}

body .ani_reg_wrap .animal_registration form div div, body .ani_reg_wrap .animal_registration_sec form div div {
  width: 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

body .ani_reg_wrap .animal_registration form div label, body .ani_reg_wrap .animal_registration_sec form div label {
  color: #fff;
}

body .ani_reg_wrap .animal_registration form div input[type="text"], body .ani_reg_wrap .animal_registration_sec form div input[type="text"], body .ani_reg_wrap .animal_registration form div input[type="date"], body .ani_reg_wrap .animal_registration_sec form div input[type="date"] {
  text-align: left;
  height: 40px;
  text-align: center;
  width: 66%;
  padding-left: 1%;
}

body .ani_reg_wrap .animal_registration form div input[type="radio"], body .ani_reg_wrap .animal_registration_sec form div input[type="radio"] {
  height: 18px;
  width: 30px;
}

body .ani_reg_wrap .animal_registration form div input[type="date"], body .ani_reg_wrap .animal_registration_sec form div input[type="date"] {
  width: 73%;
}

body .ani_reg_wrap .animal_registration form div select, body .ani_reg_wrap .animal_registration_sec form div select {
  height: 40px;
  width: 66%;
  margin-right: 20px;
  border: 0;
  padding-left: 1%;
  text-align-last: center;
  border-radius: 100px;
  color: #F25252;
}

body .ani_reg_wrap .animal_registration form div textarea, body .ani_reg_wrap .animal_registration_sec form div textarea {
  width: 100%;
  height: 300px;
  border-radius: 20px;
  color: #F25252;
  padding: 5%;
}

body .ani_reg_wrap .animal_registration_sec {
  background-color: #8C4653;
}

body .pack-pulse {
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
  border: 5px solid rgba(242, 82, 82, 0.788) !important;
}

body .pack-border {
  border: 1px solid #F25252;
}

body .wiz-wrapper {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body .wiz-wrapper .pack-circle-container {
  height: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .wiz-wrapper .pack-circle-container .inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  text-align: center;
}

body .wiz-wrapper .pack-circle-container .inner-wrapper:hover {
  cursor: pointer;
}

body .wiz-wrapper .pack-circle-container .pack-circle {
  height: 120px;
  width: 120px;
  background-color: #fff;
  border-radius: 50%;
  border: 5px solid rgba(75, 201, 208, 0.534);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}

body .wiz-wrapper .pack-circle-container .pack-circle span:nth-child(1) {
  font-size: 33px;
  font-weight: bolder;
  color: #F25252;
}

body .buttonWhite {
  background: #fff;
  color: #F25252;
}

body .buttonWhite:hover {
  background-color: #F25252;
  color: #fff;
  border: solid 1px #000;
}

body #Zacit img {
  width: 220px;
  height: 190px;
  -o-object-fit: cover;
     object-fit: cover;
}

body .newsletter {
  background: #F25252;
  height: 260Px;
}

body .lstfndimg {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px 0px;
     object-position: 0px 0px;
}

body #filter-bar {
  padding: 5%;
}

body #filter-bar .filter-options {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 55vw;
}

body #filter-bar .filter-options select {
  font-size: .7rem;
  margin: 1%;
  width: 150px;
  height: 35px;
  border: 0;
  border-radius: 30px;
  text-align: center;
  text-align-last: center;
  color: #8C4653;
  font-weight: 600;
}

body #filter-bar .filter-options select option {
  text-align: left;
}

body #filter-bar .filter-options button, body #filter-bar .filter-options .buttonWhite {
  font-size: .7rem;
  background: #fff;
  color: #F25252;
  width: 100px;
  height: 35px;
  font-weight: 600;
}

body .ContactFormExtendedProperties, body .contact_form input, body .contact_form textarea, body .contact_form button, body .contact_form .buttonWhite {
  width: 442px;
  margin-top: 40px;
  border-radius: 0;
  border: 0;
  margin: 0px 0px 40px 30px;
}

body #Contact {
  background-image: url("../img/contact-img.jpeg");
  min-height: 200vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body .contact_form {
  background-color: #fff;
  margin-top: 5vw;
  margin-right: 15vw;
  width: 500px;
  border: 1px #707070 solid;
  z-index: 1;
}

body .contact_form input {
  background-color: #EDEDED;
  color: #9B9B9B;
  text-align: left;
  height: 60px;
}

body .contact_form ::-webkit-input-placeholder {
  padding-left: 20px;
  padding-top: 25px;
}

body .contact_form :-ms-input-placeholder {
  padding-left: 20px;
  padding-top: 25px;
}

body .contact_form ::-ms-input-placeholder {
  padding-left: 20px;
  padding-top: 25px;
}

body .contact_form ::placeholder {
  padding-left: 20px;
  padding-top: 25px;
}

body .contact_form textarea {
  height: 150px;
  border: 0;
  background-color: #EDEDED;
  color: #9B9B9B;
  resize: none;
}

body .contact_form button, body .contact_form .buttonWhite {
  text-align: center;
}

body #premium_plans {
  height: 80vh;
  width: 100vw;
}

body #premium_plans .plan_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body #premium_plans .plan_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  width: 250px;
  height: 380px;
  padding-top: 1%;
}

body #premium_plans h5 {
  font-size: 22px;
  color: #8C4653;
}

body #premium_plans h4 {
  font-size: 40px;
  color: #7C7C7C;
}

body #premium_plans button, body #premium_plans .buttonWhite {
  border-radius: 0;
}

body #Testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  min-height: 750px;
}

body #Testimonials .testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../img/testi.jpeg");
  background-size: cover;
  border-radius: 100%;
  width: 150px;
  height: 150px;
}

body #Testimonials button, body #Testimonials .buttonWhite {
  border-radius: 0;
}

body #Testimonials .quote {
  position: relative;
  background-color: white;
  border-radius: 100%;
  width: 35%;
  height: 35%;
  top: 65%;
  left: -10px;
}

body #Testimonials .quote .svg_position {
  position: relative;
  left: 25%;
  top: 25%;
  width: 50%;
}

body footer {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 200px;
  width: 100vw;
  background-color: #FAFAFA;
}

body footer .brand {
  font-size: 2.19rem !important;
  font-weight: 900;
}

body footer :hover {
  text-decoration: none;
}

body footer ul li {
  list-style-type: none;
}

body footer ul li a {
  color: inherit;
}

body footer ul li :hover {
  text-decoration: none;
  color: #8C4653;
}

body footer .footer-title {
  font-weight: 600;
  color: #5C5C5C;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #F25252;
}

.modal-content {
  width: 100vw;
}

.navbar {
  padding: 0;
}

.stickyNav {
  z-index: 55555;
  position: -webkit-sticky;
  position: sticky;
  top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal {
  width: 100vw;
  margin: 0 auto;
  border-radius: 0;
  left: 25vw;
  top: 5vh;
  padding: 0;
  height: 600px;
}

.modal .modal-dialog {
  border-radius: 0;
  margin: 0;
  height: 602px;
}

.modal .modal-dialog .modal-content {
  height: 80vh;
  border-radius: 0;
  width: 50vw;
  margin: 0;
  padding: 0;
  height: 602px;
}

.modal .modal-dialog .modal-content .modal-body {
  padding: 0;
  height: 602px;
}

.modal .modal-dialog .modal-content .modal-body .modal-login-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-buttons .login-modal-button, .modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-buttons .login-modal-button-active {
  border-right: 1px solid rgba(92, 92, 92, 0.733);
  background-color: #fff;
  border-radius: 0;
  width: 15vw;
  height: 200px;
  min-width: 100px;
  max-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-buttons .login-modal-button span, .modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-buttons .login-modal-button-active span {
  color: #F25252;
}

.modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-buttons .login-modal-button i, .modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-buttons .login-modal-button-active i {
  font-size: 56px;
  color: #F25252;
}

.modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-buttons .login-modal-button:hover, .modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-buttons .login-modal-button-active:hover {
  background-color: #4BCAD0;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 5px #000000;
}

.modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-buttons .login-modal-button:hover span, .modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-buttons .login-modal-button-active:hover span {
  color: #fff;
}

.modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-buttons .login-modal-button:hover i, .modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-buttons .login-modal-button-active:hover i {
  color: #fff;
}

.modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-buttons .login-modal-button-active {
  background-color: #F25252;
}

.modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-buttons .login-modal-button-active span {
  color: #fff;
}

.modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-buttons .login-modal-button-active i {
  color: #fff;
}

.modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-input {
  width: 85vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-input h5 {
  font-size: 23px;
  font-weight: 700;
}

.modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-input form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-input form i {
  position: relative;
  top: 37px;
  left: 10px;
  width: 15px;
  color: #8C4653;
}

.modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-input form input {
  border-radius: 0;
  width: 30vw;
  background-color: #F8F8F8;
}

.modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-input form button, .modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-input form body .buttonWhite, body .modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-input form .buttonWhite {
  border-radius: 0;
  width: 30vw;
  margin-top: 15px;
  -webkit-box-shadow: -2px 13px 16px -8px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 13px 16px -8px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 1250px) {
  .circle-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 125px !important;
    height: 125px !important;
  }
  .circle-container .circle {
    -webkit-animation: pulse 2s infinite;
            animation: pulse 2s infinite;
    height: 70px !important;
    width: 70px !important;
    background-color: #fff;
    border-radius: 50%;
  }
  .circle-container .circle i {
    font-size: 35px !important;
    color: #F25252;
    position: relative;
    left: 18px !important;
    top: 20px !important;
  }
  #f-title-1 {
    display: none;
  }
  #f-title-2 {
    display: none;
  }
  #f-title-3 {
    display: none;
  }
  #copyr {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  #top-welcome-mess {
    display: none;
  }
}

@media only screen and (max-width: 969px) {
  .modal {
    padding: 0;
    height: 600px;
    left: 0;
    top: 0;
    width: 120vw;
    height: 100vh;
  }
  .modal .modal-dialog {
    margin: 0;
    width: 100vw;
  }
  .modal .modal-dialog .modal-content {
    width: 100vw;
  }
  .modal .modal-dialog .modal-content .modal-body {
    height: 100vh;
  }
  .modal .modal-dialog .modal-content .modal-body .modal-login-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-self: center;
    height: 100vh;
  }
  .modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100vw;
  }
  .modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-buttons .login-modal-button, .modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-buttons .login-modal-button-active {
    background-color: #fff;
    border-radius: 0;
    height: 70vh;
    width: 35%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-buttons .login-modal-button span, .modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-buttons .login-modal-button-active span {
    color: #F25252;
    font-size: 11px !important;
  }
  .modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-buttons .login-modal-button i, .modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-buttons .login-modal-button-active i {
    font-size: 56px;
    color: #F25252;
  }
  .modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-buttons .login-modal-button:hover, .modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-buttons .login-modal-button-active:hover {
    background-color: #4BCAD0;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 5px #000000;
  }
  .modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-buttons .login-modal-button:hover span, .modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-buttons .login-modal-button-active:hover span {
    color: #fff;
  }
  .modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-buttons .login-modal-button:hover i, .modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-buttons .login-modal-button-active:hover i {
    color: #fff;
  }
  .modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-buttons .login-modal-button-active {
    border-right: 1px solid rgba(92, 92, 92, 0.733);
    background-color: #fff;
    border-radius: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #F25252;
  }
  .modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-buttons .login-modal-button-active span {
    color: #fff;
  }
  .modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-buttons .login-modal-button-active i {
    color: #fff;
  }
  .modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-input {
    width: 100vw;
    height: 70vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-input h5 {
    font-size: 15px;
    font-weight: 500;
  }
  .modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-input form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-input form i {
    display: none;
  }
  .modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-input form input {
    border-radius: 0;
    width: 80vw;
    background-color: #F8F8F8;
  }
  .modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-input form button, .modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-input form body .buttonWhite, body .modal .modal-dialog .modal-content .modal-body .modal-login-wrapper .modal-login-input form .buttonWhite {
    border-radius: 0;
    width: 30vw;
    margin-top: 15px;
    -webkit-box-shadow: -2px 13px 16px -8px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 13px 16px -8px rgba(0, 0, 0, 0.75);
  }
}

@media only screen and (max-width: 900px) {
  #wiz-steps {
    display: none !important;
  }
  .ani_reg_wrap .cont {
    margin: 0 !important;
    padding: 0 !important;
  }
  .ani_reg_wrap .animal_registration, body .ani_reg_wrap .animal_registration_sec {
    padding-top: 50px;
    width: 100vw !important;
  }
  .ani_reg_wrap .animal_registration div, body .ani_reg_wrap .animal_registration_sec div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 100%;
  }
  .ani_reg_wrap .animal_registration div div, body .ani_reg_wrap .animal_registration_sec div div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 100%;
  }
  .ani_reg_wrap .animal_registration div div input, body .ani_reg_wrap .animal_registration_sec div div input {
    position: relative;
    top: 20px;
  }
  .ani_reg_wrap .animal_registration input, body .ani_reg_wrap .animal_registration_sec input {
    width: 100vw !important;
  }
  .ani_reg_wrap .animal_registration select, body .ani_reg_wrap .animal_registration_sec select {
    width: 100vw !important;
  }
  .ani_reg_wrap .animal_registration input[type="radio"], body .ani_reg_wrap .animal_registration_sec input[type="radio"] {
    height: 100%;
    width: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .custom-subs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: -10px;
  }
  #top-contact {
    margin: 20px 0px 20px 20px;
    text-align: center;
  }
  #top-login-button {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  h1 {
    font-size: 24px !important;
    margin-top: 50%;
  }
  .overlay-text > p {
    font-size: 75%;
  }
  .head-img {
    width: 100vw;
    height: 800px;
  }
  .head-img:before {
    top: 305px;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

@media only screen and (max-width: 625px) {
  .circle-container {
    width: 72.5px !important;
    height: 72.5px !important;
  }
  .circle-container .circle {
    height: 35px !important;
    width: 35px !important;
  }
  .circle-container .circle i {
    font-size: 17.5px !important;
    left: 8px !important;
    top: 10px !important;
  }
  #Contact {
    display: none;
  }
  #copyr {
    margin: 0;
  }
}

@media only screen and (max-width: 575px) {
  body {
    padding: 0;
    margin: 0;
  }
  #Zacit {
    width: 100% !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .newsletter h2 {
    font-size: 1rem !important;
  }
  .newsletter input {
    height: 30px;
    width: 200px;
    font-size: 10px;
    margin: 0;
    margin-bottom: 1%;
  }
  .newsletter button, .newsletter body .buttonWhite, body .newsletter .buttonWhite {
    height: 30px;
    font-size: 10px;
    width: 200px;
  }
  #top-contact {
    display: none;
  }
  #overlay-buttons {
    display: none;
  }
  #outer-container {
    height: 50%;
  }
  .brand span {
    font-size: 24px;
  }
  #overlay-buttons-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 200px;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #overlay-buttons-2 .circle-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 250px !important;
    height: 250px !important;
    z-index: 88;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #overlay-buttons-2 .circle-container .circle {
    -webkit-animation: pulse 2s infinite;
            animation: pulse 2s infinite;
    height: 100px !important;
    width: 100px !important;
    background-color: #fff;
    border-radius: 50%;
  }
  #overlay-buttons-2 .circle-container .circle i {
    font-size: 70px !important;
    color: #F25252;
    position: relative;
    left: 13px !important;
    top: 17px !important;
  }
  #overlay-buttons-2 .circle-container .circle:hover {
    -webkit-animation: none;
            animation: none;
    cursor: pointer;
  }
  #overlay-buttons-2 .circle-container .circle:hover i {
    color: #4BCAD0;
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #212529;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(19px, 0);
            transform: translate(19px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(19px, 0);
            transform: translate(19px, 0);
  }
}
/*# sourceMappingURL=style.css.map */